<h2><%= @event.name %></h2>

<h3>Details:</h3>
<ul>
  <li><%= @event.created_at %></li>
<!--   <li><%= @event.created_by %></li> -->
<!--   <li><%= @event.time %></li> -->
  <li><%= @event.location %></li>
</ul>

<p><%= @event.description %></p>
